---
grails:
    profile: web
    codegen:
        defaultPackage: studybuddy
    spring:
        transactionManagement:
            proxies: false
info:
    app:
        name: '@info.app.name@'
        version: '@info.app.version@'
        grailsVersion: '@info.app.grailsVersion@'
spring:
    main:
        banner-mode: "off"
    groovy:
        template:
            check-template-location: false

# Spring Actuator Endpoints are Disabled by Default
endpoints:
    enabled: false
    jmx:
        enabled: true

---
grails:
    mime:
        disable:
            accept:
                header:
                    userAgents:
                        - Gecko
                        - WebKit
                        - Presto
                        - Trident
        types:
            all: '*/*'
            atom: application/atom+xml
            css: text/css
            csv: text/csv
            form: application/x-www-form-urlencoded
            html:
              - text/html
              - application/xhtml+xml
            js: text/javascript
            json:
              - application/json
              - text/json
            multipartForm: multipart/form-data
            pdf: application/pdf
            rss: application/rss+xml
            text: text/plain
            hal:
              - application/hal+json
              - application/hal+xml
            xml:
              - text/xml
              - application/xml
    urlmapping:
        cache:
            maxsize: 1000
    controllers:
        defaultScope: singleton
    converters:
        encoding: UTF-8
    views:
        default:
            codec: html
        gsp:
            encoding: UTF-8
            htmlcodec: xml
            codecs:
                expression: html
                scriptlets: html
                taglib: none
                staticparts: none
endpoints:
    jmx:
        unique-names: true

---
hibernate:
    cache:
        queries: false
        use_second_level_cache: true
        use_query_cache: false
        region.factory_class: org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory

#Edited to use mysql, original conf is in this directory.
dataSource:
    pooled: true
    dbCreate: create-drop
    url: jdbc:mysql://address=(protocol=tcp)(host=99.238.1.220)(port=3306)/StudyBuddyDB
    driverClassName: com.mysql.jdbc.Driver
    dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    username: root
    password: Zx439LQ6

environments:
    development:
        dataSource:
            dbCreate: create-drop
            url: jdbc:mysql://address=(protocol=tcp)(host=99.238.1.220)(port=3306)/StudyBuddyDB
    test:
        dataSource:
            dbCreate: create-drop
            #url: jdbc:mysql//127.0.0.1:3306/testdb
            url: jdbc:mysql://address=(protocol=tcp)(host=99.238.1.220)(port=3306)/StudyBuddyDB

