/*
 * Created by Michael Yixin Zhang
 */
body {
    background-image: url("registerUWO.jpg");;  
    background-size: 100%;  
    background-repeat: no-repeat;  
}  
  
#register_frame {
    width: 400px;  
    height: 360px;
    padding: 13px;  
  
    position: absolute;  
    left: 50%;  
    top: 50%;  
    margin-left: -200px;  
    margin-top: -200px;  
  
    background-color: rgba(240, 255, 255, 0.5);  
  
    border-radius: 10px;  
    text-align: center;
}  
  
form p > * {  
    display: inline-block;  
    vertical-align: middle;  
}  
